// Colors
$clr1: #a21212;
$clr2: #DA3330;
$clr3: #F9C73F;
$clr4: #dcdde1;
$clr5: rgb(10, 10, 10);

//Social media colors
$facebook: #1877f2;
$facebook-old: #3b5998;

$youtube-red: #ff0000;
$youtube-white: #ffffff;
$youtube-black: #282828;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;