.footer {
    width: 100%;
    height: 30vh;
    background-color: $clr5;

    .footer-logo {
        width: 150px;
        float: right;
        margin: 20px;
    }

    .fa-facebook-square {
        color: $facebook;
        font-size: rem(24px);
    }
    .fa-youtube {
        color: $youtube-red;
        font-size: rem(24px);
    }

    .social-media {
        width: 200px;
        
    }
}