.home {

  
  .landing-page-image {
    width: 100%;
    height: 100vh;
  }

  .landing-quick-service {
    position: absolute;
    top: 30%;
    left: 60px;
    padding: 20px;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 10px;
    animation: fadeout 3s linear 2s infinite alternate;
  }

  @keyframes fadeout {
    0%  {opacity: 20%;}
    20%  {opacity: 40%; }
    40%  {opacity: 60%; }
    60%  {opacity: 80%; }
    80%  {opacity: 90%; }
    100%  {opacity: 100%; }
    80%  {opacity: 90%; }
    60%  {opacity: 80%; }
    40%  {opacity: 60%; }
    20%  {opacity: 40%; }
    0%  {opacity: 20%;}
  }
 

  

  text-align: center;

  .main-container {
    margin-top: 50px;

    h1 {
        font-size: rem(50px);
    }

    h2 {
        margin-top: 40px;
        direction: rtl;
    }

    p {
      max-width: 100%;
      direction: rtl;
    }

    .service-list {

      margin-top: 50px;

      .service {
        display: flex;
        margin-top: 10px;
        border-radius: 4px;
        overflow: hidden;
        img {
          max-width: 300px;
        }
        .service-desc {
          width: 100%;
  
         
        }
      }
      .service:nth-child(odd) {
        background-color: transparentize($clr4, 0.6);
        direction: rtl;
      }
    }

    .mail-form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        min-width: 400px;
        height: 300px;
        margin: 0 auto;
        direction: rtl;

        input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid transparentize($clr5, 0.5);
        }

        textarea {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid transparentize($clr5, 0.5);
            resize: none;
        }

        a {
            color: $clr1;
        }
    }
  }
}
