.navbar {
    width: 100%;
    padding: 0 !important;
    border-bottom: 3px $clr1 solid;
    direction: rtl;
    z-index: 9999;
    

    img {
        width: 150px;
    }

    .categories{
        text-align: right;
    }

    .nav-link {
        margin-right: 20px;
    }

    button {
        margin-left: 20px;
    }
    
    // .categories {
    //     width: 40%;
    //     display: flex;
    //     justify-content: space-around;

    //     a {
    //         color: $clr5;
    //         text-decoration: none;
            
    //     }
        
    // }
}